/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import 'antd/dist/antd.css';
@font-face {
  font-family: "Jost";
  src: url('../assets/Jost-400-Book.ttf');
}

* {
  user-select: none;
  font-family: "Jost";
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

/* #proxy-renderer {
  box-shadow: inset -2vw -2vw 3vw #d4d4d4;
  border-radius: 10px;
} */

.ant-menu {
  background-color: black;
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-tabs-content-holder {
  padding: 24px;
  overflow: scroll;
  background-color: #fffef0;
}

.ant-tabs-tab-btn {
  color: white
}

/* #pdf-controls {
  display: none;
} */
